<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>Вход — FrashPal</title>
    </head>
    <body>
        <h1>Вход</h1>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <form method="post">
            <label>Ник:<br /><input type="text" name="nick" required /></label
            ><br />
            <label
                >Пароль:<br /><input
                    type="password"
                    name="password"
                    required /></label
            ><br />
            <button type="submit">Войти</button>
        </form>
        <p><a href="{{ url_for('forgot_password') }}">Не помню пароль</a></p>
        <p>
            Нет аккаунта?
            <a href="{{ url_for('register') }}">Зарегистрироваться</a>
        </p>
    </body>
</html>
